body {
	background-color: green;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	color: white;
	}
	
#intro {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	color: white;
	}
	
#holedata {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	color: white;
	display: none;
	}
	
#holedatatable {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	border-color; white;
	border: 1px solid white;
	text-align: center;
	}
	
td, th	{width: 250px;
	height: 30px;
	border: 1px solid white;}
	
.buttonrow {border: none;}

#score {width: 20px;}

#monitoring {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	color: white;
	display: none;
	}
	
#finishform {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	color: white;
	display: none;
	}
	
#errors {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	color: red;
	display: none;
	}